/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;

 /* shared styles */
 .btn-primary{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    background-color: #0D1321;
    border-radius: 8px;
    padding: 21px 24px;
 }

 .black{
    color: #0D1321;
}
.btn-shared{
    width: 171px;
    height: 47px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
    cursor: pointer;
}
.text-none{
    text-decoration: none;
    color: #0D1321;
    
    
}

}
body{
    font-family: "Azeret Mono", monospace;
}


header{
   
}
nav{
    max-width: 1140px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
nav h3{
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
}
.btn{
    padding: 17px 24px;
    border: 1px solid #0D1321;
    border-radius: 8px;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
}
.btn a{
    text-decoration: none;
    color: #0D1321;
}
.bannner-container{
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
   
}
.bannner-container .img, .content{
    text-align: center;
    max-width: 900px;
    
   
    
    
}
.bannner-container a{
    text-decoration: none;
    color: white;
}
 .content h1 {
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}
.content p{
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

/* main section */
main{
    max-width: 1140px;
    margin: 150px auto;

}
.card-section{
    padding: 80px 97px;
    
}
.dev-title{
    text-align: center;
}
.dev-description{
    /* max-width: 900px; */
    margin: 24px auto 48px auto;
    padding: 0 48px;
    text-align: center;
    opacity: 0.7;

}
.card-container-1{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    gap: 90px;
    margin-bottom: 32px;
}
.card-content{
    /* display: flex;
    flex-direction: column;
    gap: 32px; */
    
    
}
.card-content h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}
.card-content p{
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 44px;
    opacity: 0.7;
}
.card-container-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 48px;
    gap: 90px;
    margin-bottom: 32px;
}
.ins-description{
    max-width: 850px;
    margin: 24px auto;
    text-align: center;
    opacity: 0.7;
    
    
    
}
.video-frame{
    width: 900px;;
    margin: 80px auto;
    text-align: center;
}

/* my current goal section */
.container-card{
    /* max-width: 900px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 0 100px;
    
}

.btn-1{
    border: none;
    font-size: 16px;
    font-weight: 700;
}
.target-title{
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}
.target-des{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.html, .css, .js{
    padding: 40px;
}